<!doctype html>
<html>
  <head>
    <title>Koa2</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="all" href="/assets/externals/css/semantic.min.css"/>
		<link rel="stylesheet" href="/assets/externals/css/icon?family=Material+Icons"/>
		<link rel="stylesheet" href="/assets/externals/css/font-awesome.css"/>
		<link rel="stylesheet" href="/assets/externals/css/buttons.css"/>
		<script src="/assets/externals/js/jquery.min.js"></script>
		<script src="/assets/externals/js/jquery-ui.min.js"></script>
		<script src="/assets/externals/js/jquery.color-2.1.2.min.js"></script>
		<script src="/assets/externals/js/semantic.min.js"></script>
		<script src="/assets/externals/js/buttons.js"></script>
		<script src="/assets/externals/js/marked.min.js"></script>
  </head>
  <body class="background-init">
    <div id="content">Hello Koa2</div>
    <script type="text/javascript" src="/assets/bundle.js"></script>
  </body>
</html>
